# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Django-specific
*.log

# VSCode settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db

# Django migrations — keep __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Pytest cache
.pytest_cache/
